body {
  overflow : hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,#fbf9eb), color-stop(55%,#f1eed6), color-stop(100%,#fbf9eb));
  background: linear-gradient(to bottom, #fbf9eb 55%, #f1eed6 55%, #fbf9eb 100%);
}
img, div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#playButton {
  position: fixed;
  bottom: 30px;
  left:50%;
  transform:translate(-50%, 0);
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#playButton:hover {
  background-color: #45a049;
}
.shadow {
  width: 150px;
  height: 150px;
  top: 190px;
  border-radius: 100px;
  background-color: #e6e1bb;
  transform: scale(1.0, 0.2);
  -webkit-transform: scale(1.0, 0.2);
}
.zunda {
  position: fixed;
  bottom: 0px;
  left:50%;
  transform:translate(-50%, 0);
  color: #B9D08B;
  font-size: 12px;
}
